@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans:300);

body {
    width: 83em;
    margin: 0 auto;
    font-family: 'Merriweather Sans', sans-serif;
    color: #444;
    word-spacing: 0.2em;
    line-height: 1.3em;
    font-size: 90%;
    padding-top: 5px;
}


/** header */
.page-header {
    height: 3.75em;
}

.header-left {
    float: left;
    width: 60%;
}

.header-right {
    float: left;
    width: 40%;
    line-height: 54px;
    text-align: right;
}

.header-thumbnail {
    float: left;
    padding: 0 8px 0 0;
}

header h2 {
    font-size: 0.85em;
    color: #777;
}


/** footer **/
.page-footer {
    clear: both;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 10px 0 10px 0;
}

/** post **/
.page-content {
    float: left;
    width: 60%;
    border-top: 1px solid #eee;
    border-right: 1px solid #eee;
}

.post {
    margin: 0;
    padding: 1em 1em 1em 0;
    border-bottom: 1px dotted #eee;
    text-align: justify;
}

.post-content {
    padding: 5px;
}

.post footer {
    padding: 5px 5px 5px 5px;
    font-size: 0.81em;
}

.post header {
    background: #dfd;
    padding: 0.2em;
    border: 1px solid #afa;
}

/** sidebar **/
.sidebar {
	float:left;
	width: 39%;
    border-top: 1px solid #eee;
    font-size: 0.9em;
	text-align: left;
}

.sidebar-columns{	
	-webkit-column-count: 2;
	-webkit-column-gap: 0px;
	-webkit-column-fill: auto;
	
	-moz-column-count: 2;
	-moz-column-gap: 0px;
	-moz-column-fill: auto;
	
	column-count: 2;
	column-gap: 0px;
	column-fill: auto;
}

.item{
	display: inline-block;
	width:100%;
	margin-top: 15px;
	margin-left: 15px;
	padding:10px;
	opacity: 1;
	background:lightyellow;
}
.sidebar aside h1 {
	margin-bottom: 3px;
	color: #777;
}
.sidebar aside .sidebar-content {
	margin-left: 1em;
}
.sidebar-content ul{
	width:85%
}
.social {
    font-size: 0.81em;
}

a, a:visited {
    color: #00f;
}

main {
    padding-top: 10px;
    padding-bottom: 10px;
}
